/* HOME STYLES */
.main-frame{
  background-color: #F1F1F1;
  height: 100%;
  width: 100%;
  padding: 0.25rem;
  display: flex;
  gap: 0.55rem 0;
  flex-direction: column;

}

/* CONTENT-OUTER-FRAME */
.content-outer-frame{
  background-color: #ffffff;
  height: 100%;
  width: 100% ;
  display: flex;
  gap: 0.25rem;

}

/*  QUIZZES QUESTIONS STYLES */
.questions-display{
    /* background-color: teal; */
    height: 100%;
    width: 70%;
    padding: 3rem;
    border-radius: 0.25rem;
}
.questions-display-listing-frame{
    /* background-color: rgb(22, 141, 76); */
    height: 100%;
    width: 100%;
    padding: 2rem 5rem;
    display: flex;
  flex-direction: column;
  gap: 1rem;
}
.questions-display-listing-frame > h6{
  font-weight: 600;
  font-size: 1.2rem;
  margin-bottom: 1rem;
}
.questions-display-listing-frame > .options-frame{
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
/*  SCORE BOARD STYLES */
.score-board{
  display: flex;
  align-items: center;
  background-color: antiquewhite;
  height: 100%;
  border-radius: 5rem 0 0 5rem;
  border: 0.15rem #ffe8d9 solid;
  width: 30%;
}

.list-questions-done{
  padding: 0.75rem 3rem;
}

.questions-options-list{
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}